@page "/counter"
@using MediatR
@using OnlineShop.Domain.Customers.Commands
@using OnlineShop.Domain.ProductCategories.Commands
@using OnlineShop.Domain.Products.Commands
@using OnlineShop.Domain.Products.Queries
@using OnlineShop.Persistence.Interfaces

@inject IMediator _mediator
@inject ICustomerRepository _customerRepo
@inject IProductCategoryRepository _productCategoryRepository;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="Create">Create</button>
<button class="btn btn-primary" @onclick="Update">Update</button>
<button class="btn btn-primary" @onclick="Delete">Delete</button>
<button class="btn btn-primary" @onclick="GetAsync">GET</button>
<button class="btn btn-primary" @onclick="Check">Image</button>
@if (Completed)
{
    <img src="img/test2.jpg" alt=""/>
}

@code {
    public bool Completed { get; set; } = false;
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private async Task Create()
    {
        // var createCommand = new CreateCustomerCommand
        // {
        //     NameStyle = false, 
        //     Title = "test", 
        //     FirstName = "test", 
        //     MiddleName = "test", 
        //     LastName = "testff",
        //     Suffix = "suff",
        //     CompanyName = "Dummy",
        //     SalesPerson = "|f", 
        //     EmailAddress = "stupid.email.com", 
        //     Phone = "5552234", 
        //     Password = "few"
        // };
        //
        // await _mediator.Send(createCommand);

        var test = await _productCategoryRepository.GetProductCategoriesAsync(15, 0);
    }

    private async Task Update()
    {
        var updateCustomerCommand = new UpdateCustomerCommand()
        {
            Id = 30122,
            NameStyle = false,
            Title = "test2",
            FirstName = "test_up_2",
            MiddleName = "test_up_2",
            LastName = "testff_up_2",
            Suffix = "suff_up",
            CompanyName = "Dummy",
            SalesPerson = "|f",
            EmailAddress = "stupid.email.com",
            Phone = "5552234",
            Password = "NewPass"
        };

        await _mediator.Send(updateCustomerCommand);
    }

    private async Task Delete()
    {
        var command = new DeleteCustomerCommand()
        {
            Id = 30119
        };
        var commandTwo = new DeleteProductCategoryCommand() { Id = 5 };
        await _mediator.Send(commandTwo);
    }

    private async Task GetAsync()
    {
        var command = new GetCustomersCommand() { Filter = (x => x.FirstName == "test"), Includes = new string[] { "CustomerAddresses", "SalesOrderHeaders" } };
        await _mediator.Send(command);
    }

    private async Task Check()
    {
        var command = new GetProductCommand() { Id = 714 };
        var result = await _mediator.Send<ProductQueryResult>(command);

        await using var stream = File.Create("D:\\Projects\\C#\\OnlineShop\\OnlineShop.Client\\wwwroot\\img\\test2.jpg");
        stream.Write(result.ThumbNailPhoto!, 0, result.ThumbNailPhoto!.Length);
        Completed = true;
        StateHasChanged();
    }
}
